<h1>
  Seed
</h1>
<div class="well">
  <div class="row">
  <div class="col-md-1">
    <div class="pull-right" style="line-height:34px">Name:</div>    
  </div>
  <div class="col-md-2">
    <bw-edit-label bw-is-editing="view.editSeed.seedVarietyName"
	       bw-model="vm.seed.seedVarietyName"
	       bw-type="text">
  {{vm.seed.seedVarietyName}}
    </bw-edit-label>
  </div>
  <div class="col-md-1">
    <div class="pull-right" style="line-height:34px">Type:</div>
  </div>
  <div class="col-md-2">
    <label class="btn btn-default btn-block"
		      ng-click="view.editSeed.seedType = true"
		      ng-hide="view.editSeed.seedType">
      {{vm.seed.seedType.seedTypeName}}
    </label>    
    <form ng-submit="view.editSeed.seedType = false">
      <select class="form-control"
	      ng-model="vm.seed.seedType"
	      ng-options="seedType.seedTypeName for seedType in vm.seedTypes track by seedType.seedTypeId"
	      ng-show="view.editSeed.seedType"
	      ng-blur="view.editSeed.seedType = false"
	      wren-focus-on="view.editSeed.seedType"
	      >
      </select>
    </form>
  </div>
  <div class="col-md-1">
    <div class="pull-right" style="line-height:34px">Note:</div>
  </div>
  <div class="col-md-5">
    <bw-edit-label bw-is-editing="view.editSeed.seedVarietyNote"
	       bw-model="vm.seed.seedVarietyNote"
	       bw-type="text">
      {{vm.seed.seedVarietyNote}}
    </bw-edit-label>
  </div>
  </div>
</div>
<h2> Packets </h2>
<div class="table-responsive">
  <table class="table">
    <thead>      
      <th>Code</th>
      <th>
	Source <button type="button" class="btn btn-xs btn-success" ng-click="controls.newCompanyModal()"><i class="fa fa-plus-circle"></i></button>
      </th>
      <th>Date Acquired</th>
      <th>Use By</th>
      <th>Number of Seeds</th>
      <th>Location</th>
      <th></th>
    </thead>
    <tbody>
      <tr ng-repeat="packet in vm.packets">	
	<td>
	  <bw-edit-label bw-is-editing="view.editPacketCode[$index]"
			 bw-model="packet.packetCode"
			 bw-type="text">
	    {{packet.packetCode}}
	  </bw-edit-label>
	</td>
	<td>
	  <label class="btn btn-default"
		 ng-click="view.editCompany[$index] = true"
		 ng-hide="view.editCompany[$index]">
	    {{packet.company.companyName}}
	  </label>
	  <form ng-submit="view.editCompany[$index] =false">
	    <select ng-model="packet.company"
		    ng-options="company._companyName for company in vm.companies track by company.companyId"
		    ng-show="view.editCompany[$index]"
		    ng-blur="view.editCompany[$index] = false"
		    wren-focus-on="view.editCompany[$index]"
		    class="form-control"
		    >
	    </select>
	  </form>
	</td>
	<td>
	  <bw-date-label bw-is-editing="view.editDatePurchased[$index]"
			 bw-model="packet.datePurchased">
	    {{packet.datePurchased}}
	  </bw-date-label>	  
	</td>
	<td>
	  <bw-date-label bw-is-editing="view.editDateUseBy[$index]"
			 bw-model="packet.dateUseBy">
	    {{packet.dateUseBy}}
	  </bw-date-label>	  
	</td>
	<td>
	  <bw-edit-label bw-is-editing="view.editSeedCount[$index]"
			 bw-model="packet.seedCount"
			 bw-type="number">
	    {{packet.seedCount}}
	  </bw-edit-label>	  
	</td>
	<td>
	  <bw-edit-label bw-is-editing="view.editStorageLocation[$index]"
			 bw-model="packet.storageLocation"
			 bw-type="text">
	    {{packet.storageLocation}}
	  </bw-edit-label>	  
	</td>
	<td>
	  <button class="btn btn-primary">
	    <i class="fa fa-arrow-circle-right"></i>
	  </button>
	</td>
      </tr>
      <tr>
	<td>
	  <bw-edit-label bw-is.editing="view.newPacket.editPacketCode"
			 bw-model="vm.newPacket.packetCode">
	    {{vm.newPacket.packetCode}}
	  </bw-edit-label>
	</td>
	<td>
	  <select class="form-control"
		  ng-model="vm.newPacket.company"
		  ng-options="company._companyName for company in vm.companies track by company.companyId"
		  wren-blur-on-enter
		  >
	  </select>
	</td>
	<td>
	  <bw-date-label bw-is-editing="view.newPacket.editDatePurchased"
			 bw-model="vm.newPacket.datePurchased">
	    {{vm.newPacket.datePurchased}}
	  </bw-date-label>	  
	</td>
	<td>
	  <bw-date-label bw-is-editing="view.newPacket.editDateUseBy"
			 bw-model="vm.newPacket.dateUseBy">
	    {{vm.newPacket.dateUseBy}}
	  </bw-date-label>	  
	</td>	
	<td>
	  <bw-edit-label bw-is-editing="view.newPacket.editSeedCount"
			 bw-model="vm.newPacket.seedCount"
			 bw-type="number">
	    {{vm.newPacket.seedCount}}
	  </bw-edit-label>	  
	</td>
	<td>
	  <bw-edit-label bw-is-editing="view.newPacket.editStorageLocation"
			 bw-model="vm.newPacket.storageLocation"
			 bw-type="text">
	    {{vm.newPacket.storageLocation}}
	  </bw-edit-label>	  
	</td>
	<td>
	  <button type="submit" class="btn btn-success"
		  ng-click="controls.addNewPacket()">
	    <i class="fa fa-plus-square"></i>
	  </button>
	</td>	
      </tr>
    </tbody>
  </table>
</div>
