<div class="row">
	<div class="col-md-1">Packet Code</div>
	<div class="col-md-1">Source</div>
	<div class="col-md-1">Date Acquired</div>
	<div class="col-md-1">Use By Date</div>
	<div class="col-md-1">Number of Seeds</div>
	<div class="col-md-1">Number Planted</div>
	<div class="col-md-1">Percent Germinated</div>
</div>
<div class="row" ng-repeat="packet in vm.packetArray" ui-sref="plantinglist({packetId: packet.packetId})">
	<div class="col-md-1">{{packet.packetCode}}</div>
	<div class="col-md-1">{{packet.companyName}}</div>
	<div class="col-md-1">{{packet.datePurchased}}</div>
	<div class="col-md-1">{{packet.dateUseBy}}</div>
	<div class="col-md-1">{{packet.seedCount}}</div>
	<div class="col-md-1">{{packet.totalPlanted}}</div>
	<div class="col-md-1">{{packet.percentGerminated}}</div>
</div>
