
<div class="table-responsive">
  <table class="table">
    <thead>      
      <th>Seed Type</th>
      <th>Seed Name</th>
      <th></th>
    </thead>
    <tbody>
      <tr ng-repeat="seed in vm.seedArray">	
	<td>
	  <label class="btn btn-default"
		 ng-click="view.editSeedType[$index] = true"
		 ng-hide="view.editSeedType[$index]">
	    {{seed.seedType.seedTypeName}}
	  </label>
	  <form ng-submit="view.editSeedType[$index] =false">
	    <select ng-model="seed.seedType"
		    ng-options="seedType._seedTypeName for seedType in vm.seedTypes track by seedType.seedTypeId"
		    ng-show="view.editSeedType[$index]"
		    ng-blur="view.editSeedType[$index] = false"
		    wren-focus-on="view.editSeedType[$index]"
		    class="form-control"
		    >
	    </select>
	  </form>
	</td>
	<td>
	  <label class="btn btn-default"
		 ng-hide="view.editSeedVarietyName[$index]"
		 ng-click="view.editSeedVarietyName[$index] = true">		 
	    {{seed.seedVarietyName}}
	  </label>
	  <form ng-submit="view.editSeedVarietyName[$index] = false">
	    <input type="text" class="form-control"
		   ng-show="view.editSeedVarietyName[$index]"
		   ng-model="seed.seedVarietyName"
		   ng-blur="view.editSeedVarietyName[$index] = false"
		   wren-focus-on="view.editSeedVarietyName[$index]" />
	  </form>
	</td>
	<td>
	  <button class="btn btn-primary" ui-sref="packetlist({seedId: seed.seedId})">
	    <i class="fa fa-arrow-circle-right"></i>
	  </button>
	</td>
      </tr>
      <tr>
	
	  <td>
	    <select ng-model="vm.newSeed.seedType"
		    ng-options="seedType._seedTypeName for seedType in vm.seedTypes track by seedType.seedTypeId"
		    class="form-control"
		    >
	    </select>
	  </td>
	  <td>
	    
	    
	    <input type="text" class="form-control"
		   ng-model="vm.newSeed.seedVarietyName"
		   wren-blur-on-enter
		   />

	  </td>
	  <td>
	    <button type="submit" class="btn btn-success"
		      ng-click="controls.addNewSeed()">
	      <i class="fa fa-plus-square"></i>
	    </button>
	  </td>
      </tr>
    </tbody>
  </table>
</div>


