  <table class="table">
    <thead>      
      <td>Seed Type</td>
      <td>Seed Name</td>
      <td>Number of seeds</td>
      <td>Number of packets</td>
      <td></td>
    </thead>
    <tbody>
      <tr ng-repeat="seed in vm.seedArray">
	<form>
	  <td>
	    <span ng-hide="seed.seedType.seedTypeName.isEditing">{{seed.seedType.seedTypeName.value}}</span>
	    <select ng-model="seed.seedType" ng-options="seedType.seedTypeName.value for seedType in vm.seedTypes track by seedType.seedTypeId"
		    ng-if="seed.seedType.seedTypeName.isEditing"></select>
	  </td>
	  <td>
	    <span ng-hide="seed.seedVarietyName.isEditing">{{seed.seedVarietyName.value}}</span>
	    <input ng-if="seed.seedVarietyName.isEditing" ng-model="seed.seedVarietyName.value" type="text"></input>
	  </td>
	</form>
	<td>{{seed.totalSeedCount}}</td>
	<td>{{seed.seedPacketCount}}</td>
	<td>
	</td>
      </tr>
    </tbody>
  </table>

